@source "../../node_modules/@dlcastillop/starlight-marketing-components/src";
@import "@dlcastillop/starlight-marketing-components/styles";
@import "starlight-ui-tweaks/styles";

@theme {
  /* Accent color palettes. */
  --color-accent-50: #f6fce9;
  --color-accent-100: #ebf7d0;
  --color-accent-200: #dff3b5;
  --color-accent-300: #bde571;
  --color-accent-400: #a3d645;
  --color-accent-500: #84bb27;
  --color-accent-600: #66951b;
  --color-accent-700: #4e7219;
  --color-accent-800: #405b19;
  --color-accent-900: #374d1a;
  --color-accent-950: #1b2a09;

  /* Gray color palettes. */
  --color-gray-50: oklch(98.5% 0 0);
  --color-gray-100: oklch(96.7% 0.001 286.375);
  --color-gray-200: oklch(92% 0.004 286.32);
  --color-gray-300: oklch(87.1% 0.006 286.286);
  --color-gray-400: oklch(70.5% 0.015 286.067);
  --color-gray-500: oklch(55.2% 0.016 285.938);
  --color-gray-600: oklch(44.2% 0.017 285.786);
  --color-gray-700: oklch(37% 0.013 285.805);
  --color-gray-800: oklch(27.4% 0.006 286.033);
  --color-gray-900: oklch(21% 0.006 285.885);
  --color-gray-950: oklch(14.1% 0.005 285.823);
}
